<section class="portfolio mt-6">
    <div class="portfolio-wrapper">
        <div class="portfolio-list">
            <img class="img-1" src="{{ asset('build/images/banner-competences.jpeg') }}" alt="" loading="lazy">
            <img class="img-2" src="{{ asset('build/images/banner-project.jpg') }}" alt="" loading="lazy">
            <img class="img-3" src="{{ asset('build/images/banner-projet-site-web.jpg') }}" alt="" loading="lazy">
            <img class="img-4" src="{{ asset('build/images/php-symfony.jpeg') }}" alt="" loading="lazy">
            <img class="img-5" src="{{ asset('build/images/vich-upload.jpeg') }}" alt="" loading="lazy">
        </div>
    </div>
</section>